.DeleteAccountModal-modal-background{
    height:100vh;
    width:100vw;
    background-color:rgba(0, 0, 0, 0.801);
    z-index:20;
    position:fixed;
    left:0;
    top:0;
    font-family: 'Archivo Narrow', sans-serif;
  
}

.DeleteAccountModal-modal-container{
    height:auto;
    width:500px;
    margin:200px auto;
    padding:10px
}
.DeleteAccountModal-modal-heading-container{
   
    padding:10px;
}
.DeleteAccountModal-modal-heading-container p{
    font-size: 20px;
 
}
.DeleteAccountModal-modal-buttons-container{
    margin:10px auto;
    text-align:right;
    padding:5px auto;
}
.DeleteAccountModal-modal-buttons-container button{
   
    padding:5px 2px;
    width:70px;
    font-size: 20px;
    border:none;
    background-color:rgba(206, 191, 191, 0.116);
    
    margin:0px 5px;
}

.DeleteAccountModal-modal-heading-container input{
    background-color:transparent;
    padding: 10px;
    display: block;
    margin: 15px 0;
    border:0.1px solid rgba(255, 255, 255, 0.192);
    outline:none;
    font-size: 12px;
}

@media (max-width:550px) {
    .DeleteAccountModal-modal-container{
    
        width:280px;
        margin:150px auto;
        
    }
    .DeleteAccountModal-modal-heading-container p{
        font-size: 16px;
     
    }
    
.DeleteAccountModal-modal-heading-container input{
  
    font-size: 10px;
}
}